<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
    <typeAliases>
        <typeAlias alias="BookVO" type="kr.co.sapyung.vo.BookVO"/>        
        <typeAlias alias="UserVO" type="kr.co.sapyung.vo.UserVO"/>
    </typeAliases>
  
    <environments default="development">
        <environment id="development">
          <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
                <property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
                <property name="username" value="system"/>
                <property name="password" value="bsh0812"/>
                
                <!-- <property name="url" value="jdbc:oracle:thin:@112.216.130.195:1521:orcl"/>
                <property name="username" value="sys_user"/>
                <property name="password" value="bsh0812"/> -->
            </dataSource>
       </environment>
    </environments>
    <mappers>
       <mapper resource="sql/book.xml"/>
       <mapper resource="sql/user.xml"/>
    </mappers>
</configuration>
