h1, p {
	text-align: center;
	color: #8041D9;
	font-size: 2vw;
}

/* table, th {
	border: 1px solid green;
} */

.attr1 {
	border: 2px solid black;
}

#table_id {
	width: 100%;
	margin: 10px;
}

.tr_color {
	background-color: rgba(235,233,229,1);
}

td {
	text-align: center;
	padding: 10px;
}