/* @font-face{font-family:'Calluna';
 src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/callunasansregular-webfont.woff') format('woff');
} */
body {
	/* background: url(//subtlepatterns.com/patterns/scribble_light.png); */
  font-family: Calluna, Arial, sans-serif;
  padding: 0; 
  margin: 0;
}

#div_loader {
    width: 100%;
	padding: 15px 0;
	text-align: center;
	bottom: 0;
    position: fixed;

}

.div_more {
    width: 100%;
	padding: 15px 15px;
	text-align: center;
	bottom: 0;
    position: fixed;
}

#more {
	visibility: visible;
    bottom:0px;
}

#loader {
	visibility: visible;
    bottom:0px;
}

#columns {
    /* padding-top: 100px; */
    /* 사진 크기 */
	/* column-width: 300px; */
	column-gap: 15px;
    width: 100%;
	margin: auto;
}

#columns_brand	 {
    /* padding-top: 100px; */
    /* 사진 크기 */
	/* column-width: 300px; */
	column-gap: 15px;
    width: 100%;
	margin: auto;
	/* background-color: #0xffffff; */
	background-color: #0xffffff;
}

div#columns figure {
	/* background: #fefefe; */
	/* border: 2px solid #fcfcfc; */
/*	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);*/
	/*margin: 0 2px 15px;*/
	margin-top: auto;
	margin-bottom: 15px;
	margin-right: auto;
	margin-left: auto;
	/*margin: auto;*/
	padding: 15px;
	padding-bottom: 10px;
	transition: opacity .4s ease-in-out;
    display: inline-block;
    column-break-inside: avoid;
}

div#columns_brand figure {
	background: #fefefe;
	border: 2px solid #fcfcfc;
/*	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);*/
	/*margin: 0 2px 15px;*/
	margin-top: auto;
	margin-bottom: 15px;
	margin-right: auto;
	margin-left: auto;
	/*margin: auto;*/
	padding: 15px;
	padding-bottom: 10px;
	transition: opacity .4s ease-in-out;
    display: inline-block;
    column-break-inside: avoid;
}

div#columns figure img {
	width:100%;
	max-width: 300px;
	height: auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

div#columns_brand figure img {
	width:100%;
	max-width: 300px;
	height: auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

div#columns figure figcaption {
  font-size: .9rem;
	color: #444;
  line-height: 1.5;
}

div#columns_brand figure figcaption {
  font-size: .9rem;
	color: #444;
  line-height: 1.5;
}


div#columns small {
  font-size: 1rem;
  float: right;
  text-transform: uppercase;
  color: #aaa;
}

div#columns_brand small {
  font-size: 1rem;
  float: right;
  text-transform: uppercase;
  color: #aaa;
}

div#columns small a {
  color: #666;
  text-decoration: none;
  transition: .4s color;
}

div#columns_brand small a {
  color: #666;
  text-decoration: none;
  transition: .4s color;
}

div#columns:hover figure:not(:hover) {
	opacity: 0.7;
}

div#columns_brand:hover figure:not(:hover) {
	opacity: 0.7;
}

@media screen and (max-width: 750px) {
  #columns { column-gap: 0px; }
  #columns figure { width: 40%; }
}
