h1, p {
	text-align: center;
	color: #1DDB16;
	font-size: 2vw;
}

/* table, th {
	border: 3px solid green;
} */

.ve1 {
	border: 2px solid red
}

#table_id {
	width: 100%;
	padding: 10px; 
	}
	
.tr_color {
	background-color: rgba(234,233,229,1)
	}
	
td {
	text-align: center;
}