h1,p  {
	text-align:center;
	color:#a20505;
	font-size: 2vw;	}
	
/* table, th {
	border: 3px solid black;
} */
.attr1 {
	border: 6px solid green;
}

#table_id {
	width: 100%; 
	padding: 10px;
}

.tr_color {
background-color: rgba(235,233,229,1);	
}
td {
	text-align: center;
}